@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
/* GENERAL STYLING */
:root{
    --primary-color: rgb(219,4,4);
    --grey:#cac7c7;
    --overlay:#0000009c;
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}
.center{
    width: 90%;
    margin: auto;
    text-align: center;
    padding:5rem 0 5rem 0;
}
.bg-primary{
    background-color: var(--primary-color);
    color: white;
}
hr{
    border-color: var(--primary-color);
}
/* HEADER SECTION */
header{
    background: var(--primary-color);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#logo{
    display:none;
}
nav li a{
    color: white;
    padding:0.0625em;
    display: block;
}
nav li a:hover{
    color: var(--primary-color);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* HOME */
.bg-home{
    background: url("img/1.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-blend-mode: multiply;
    background-color: var(--overlay);
}
.home hr{
    color: var(--primary-color);
    margin-top: 1.2em;
}
.home p{
    font-size: 2rem;
    margin-top: 1em;
    font-weight: 300;
}

/* FEATURES */
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
.features-card{
    border: 1px solid white;
    width: 29rem;
    font-size: 1.5rem;
    margin: 3rem;
    padding: 1.5em;
}
.features-card i{
    font-size: 100px;
}

/* INFORMATION SECTION */
.fa-circle-check{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.information-one li,.information-two li{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3em;
}
#information-two{
    background: var(--grey);
}

/* ABOUT */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card{
    width: 23rem;
    height: 27em;
    margin: 3rem;
    box-shadow: 2px 5px 7px 1px;
    position: relative;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: white;
    color: #000;
}
.card:hover{
    transform: translateY(-3px);
}
.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.upper-section{
    height: 35%;
    background: #000;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.image-container{
    position: absolute;
    top: 17%;
    left: 27%;
}
.lower-section{
    height: 65%;
    padding: 0.095em;
}
.info{
    margin-top: 25%;
}
.card-name{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: oswald,sans-serif;
}
.card-title{
    text-transform: uppercase;
    font-weight: 300;
}
.card-line{
    color: var(--primary-color);
    width: 80%;
    margin: 1rem auto;
}
.card-description{
    font-family: Montserrat,sans-serif;
}
.social-icons{
    font-size: 2.7rem;
    margin-top: 0.5em;
    cursor: pointer;
}
.fa-instagram{
    color: #ef1e43;
}
.fa-facebook{
    color: #3f62a9;
}
.fa-twitter{
    color: #1c99e7;
}

/* PURCHASE SECTION */
.purchase p{
    font-size: 3.5rem;
    font-weight: 900;
}
.bg-purchase{
    background: url("img/7.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    background-color: var(--overlay);
    background-blend-mode: multiply;
}

/* HEADINGS */
h1{
    font-size: 4.5rem;
    line-height: 1.2;
    font-weight: 700;
}
h2,h3,h4,h5{
    font-size: 3rem;
    padding: 0.2em;
    margin-bottom: 1em;
    line-height: 1.2;
    font-weight: 600;
}
h3{
    font-size: 2.5rem;
}
h6{
font-size: 2.5rem;
margin: 0.5em;
font-weight: 400;
}

/* CONTACT */
.contact label{
    font-size: 1.4rem;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    border-radius: 5px 5px;
    outline: none;
    padding: 0.3em;
    background: transparent;
    font-size: 1.5rem;
    color: white;
    border: 2px solid;
    margin-bottom: 1em;
    font-family: inherit;
}
input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    outline: 2px solid;
}

/* FOOTER */
footer{
    background-color: #ff0000;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* BUTTONS */
.btn{
    padding: 0.8rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 6px;
    color: white;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    transform:translateY(2px);
}
.btn-download,.btn-subscribe,.btn-order,.btn-purchase{
    background-color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.4em 1.3em;
    border: 1px solid rgba(59,58,58,0.219);
    text-shadow: 0px 1px 2px #000;
    box-shadow: -4px 3px 1px 1px var(--primary-color);
    margin-top: 2em;
}
.btn-order{
    margin-bottom: 1em;
}
.btn-download:hover,.btn-subscribe:hover,.btn-order:hover,.btn-purchase:hover{
    position: relative;
    top: 1px;
}
.btn-submit{
    color: var(--primary-color);
    background: white;
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid;
}
.btn-submit:hover{
    background-color: var(--primary-color);
    color: white;
}

/* MEDIA QUERIES */
@media (min-width:480px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;

    }
    #logo{
        display: unset;
        height: 70px;
        width: 80px;
    }
    nav ul{
        display: flex;
    }
    nav li a{
        color: #000;
        margin-right: 0.5em;
        font-weight: 600;
    }

}

@media (min-width:720px) {
    h1{
        font-size: 5rem;
    }
    h2,h3,h4,h5{
        font-size: 3.5rem;
    }
    .home,.information-one,.information-two,form{
        width: 80%;
        margin: auto;
    }
    .btn{
        width: 25rem;
    }
}
@media (min-width:900px) {
    nav li a{
        margin-right: 1em;
    }
    .information-one,.information-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-item-one,.grid-item-two{
        margin: auto;
    }
    h3{
        font-size: 2.2rem;
    }
    .purchase{
        padding: 10rem;
    }
    form{
        width: 55rem;
    }
    .contact label{
        font-size: 1.5rem;
    }
    footer{
        font-size: 1.8rem;
        font-weight: 300;
    }
}

@media (min-width:1200px) {
    .center{
        max-width: 1200px;
        margin: auto;
    }
    header{
        justify-content: space-evenly;
    }
}